---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/thegarage/thegarage-gitx/pulls?head=thegarage:feature-branch&state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 123123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1407257585'
      Etag:
      - '"6d00d48abf2adf1877c8244700cd4c6f"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/17608725/pulls?head=thegarage%3Afeature-branch&state=open&page=0>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"html_url":"https://path/to/html/pull/request","issue_url":"https://api/path/to/issue/url","number":10,"head":{"ref":"branch_name"}}]'
  recorded_at: Tue, 05 Aug 2014 16:36:03 GMT
- request:
    method: get
    uri: https://api.github.com/repos/thegarage/thegarage-gitx/commits/feature-branch/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 123123
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1418241620'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo, repo:status
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"state":"success"}'
  recorded_at: Wed, 10 Dec 2014 19:14:11 GMT
recorded_with: VCR 2.9.2
